<div class="row">
  <div class="panel panel-success">
    <div class="panel-heading">Add Note</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <textarea rows="3" data-ng-model='message' maxlength="100" class="form-control" id="text"
                    placeholder="Enter text here"></textarea>
        </div>
      </form>
    </div>
    <div class="panel-footer">
      <div>
        <span><small><span class="badge">{{100 - message.length}}</span> Characters Remaining</small></span>
        <button class="btn btn-sm btn-success pull-right" data-ng-disabled="!message.length" data-ng-click="addNote()">
          Save
        </button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
    <div>
      <table data-ng-table="tableParams" data-show-filter="false" class="table">
        <tbody>
        <tr data-ng-repeat="note in $data" data-ng-if="$data">
          <td style="word-break:break-all; width: 70%" data-title="'Text'">{{note.text}}</td>

          <td data-title="'Created'" data-sortable="'createdDate'">{{note.createdDate | date:'medium'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
